.projects__text-area {
  padding: 28px 31.45px 17px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px){
  .projects__text-area{
    padding: 12px;
    flex: 1 0;
  }
}
