.lock__paragraph {
    margin: 0 0 0 32px;
    font-family: 'WF', 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    width: 80.76%;
}

@media screen and (max-width: 768px) {
    .lock__paragraph {
        margin: 0 0 0 16px;
        width: 86.9%;
        font-size: 30px;
        line-height: 37px;
    }
}

@media screen and (max-width: 360px) {
    .lock__paragraph {
        font-size: 26px;
        line-height: 100%;
        margin: 0 0 0 12px;
        width: 93.33%;
    }
}
