.slyder {

}
@media screen and (max-width: 749px) {
  .slyder {
    width: 600px;
overflow: hidden;
margin: 0 auto;
/*position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);*/
}
}
@media screen and (max-width: 600px) {
  .slyder {
    width: 360px;


}
}
