.editor__buttons-text {

    margin: 0 16px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}


@media screen and (max-width: 860px){
    .editor__buttons-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    }
}