.materials__container {
  padding: 40px 0 75px;
  transition: all 0.6s ease;
}

@media screen and (max-width: 1024px) {
  .materials__container {
    padding: 24px 0 32px;
  }
}
@media screen and (max-width: 749px) {
  .materials__container {
    width: 600px;
    overflow: hidden;
    margin: 0 auto 64px;
    padding: 24px 0 0;


  }
}
@media screen and (max-width: 600px) {
  .materials__container {
    width: 360px;
  }
}
