.article {
  box-sizing: border-box;
  max-width: 910px;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.article figcaption {
  margin: 16px 0 0 0;
  padding: 0 0 16px 0;
  width: 60%;
  border-bottom: 1px solid rgba(12, 6, 38, 0.7);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.article p {
  margin: 0;
  padding: 0;
}
