.article {
  box-sizing: border-box;
  max-width: 910px;
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.image {
  max-height: 520px;
  box-sizing: border-box;
  width: 100%;
  background-color: #000;
  text-align: center;
  background-color: #F7F4F0;
  padding: 23px 0px 36px 0px;
}

.image img {
  object-fit: contain;
}

.article figcaption {
  margin: 16px 0 0 0;
  padding: 0 0 16px 0;
  width: 60%;
  border-bottom: 1px solid rgba(12, 6, 38, 0.7);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.article p {
  margin: 0;
  padding: 0;
}
