.materials__navigation {
  display: none;
}
@media screen and (max-width: 749px) {
  .materials__navigation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    bottom: -32px;
    gap: 12px;
  }
}

#slideOne:checked ~ .materials__container .materials__list .materials__cards_checked {
  margin-left: 0%;
}
#slideTwo:checked ~ .materials__container .materials__list .materials__cards_checked {
  margin-left: -25%;
}
#slideThree:checked ~ .materials__container .materials__list .materials__cards_checked {
  margin-left: -50%;
}

input[name="slideButton"] {
  position: absolute;
  visibility: hidden;
}

#slideOne:checked ~ .materials__navigation label[for="slideOne"],
#slideTwo:checked ~ .materials__navigation label[for="slideTwo"],
#slideThree:checked ~ .materials__navigation label[for="slideThree"] {
  background-color: #3A543E;
}

