.sort__header {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  line-height: 25.9px;
}
@media screen and (max-width: 1024px) {
.sort__header {
  font-size: 14px;
  line-height: 18.3px;
}
}
