.note__tatle {
  max-width: 242px;
  margin: 13.25px 0 0 12px;
  font-family: 'WF';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
}

@media screen and (max-width: 720px) {
  .note__tatle {
    font-size: 18px;
  }
}
