.header__dropdown-list {
  text-decoration: none;
  color: #232323;
  font-size: 20px;
  line-height: 26px;
  display: inline;
}
@media screen and (max-width: 1024px) {
  .header__dropdown-list {
    font-size: 14px;
    line-height: 18px;
  }
}
