.card-rectangle__header {
  margin: 0;
  font-family: 'WF', 'Times New Roman', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 26px;
  line-height: 26px;
}
@media screen and (max-width: 1024px) {
  .card-rectangle__header {
    font-size: 18px;
    line-height: 22px;
  }
}
