.note__close {
  cursor: pointer;
  width: 16.71px;
  height: 16.71px;
  border: 0;
  background-image: url(../../../images/close.svg);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 17.09px;
  top: 5px;
}

@media screen and (max-width: 720px) {
  .note__close {
    width: 12px;
    height: 12px;
  }
}