.lock__popup-link {
    display: block;

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    margin: 16px 33px 12px 24px;
}

@media screen and (max-width: 768px) {
    .lock__popup-link {
        margin: 20px 12px;
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (max-width: 360px) {
    .lock__popup-link {
        margin: 16px 12px;
    }
}
