.footer__link_text_covert {

}

@media screen and (max-width: 768px) {
  .footer__link_text_covert {
    margin-bottom: 0;
    font-size: 0;
    height: 28px;
    margin-right: 24px;
  }

  .footer__link_text_covert:last-child {
    margin-right: 0px;
  }
}
