.materials {
display: flex;
max-width: 1144px;
margin: 0 auto;
justify-content: space-between;
padding-top: 40px;
line-height: 1.3;
flex-wrap: nowrap;
}
@media screen and (max-width: 1176px) {
  .materials {
line-height: 1.3;
    gap: 12px;
  }
}
@media screen and (max-width: 747px) {
  .materials {
    position: relative;
    width: 300%;
    justify-content: flex-start
}
}
