.news-card__description {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}
@media screen and (max-width: 1126px) {
  .news-card__description {
    gap: 12px;
  }
}

@media screen AND (max-width: 600px) {
  .news-card__description {
    flex-direction: column-reverse;
  }
}
