.footer__social-information {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 32px;
  width: 100%;
  border-top: 1px solid rgba(50, 50, 50, 0.3);
}

@media screen and (max-width: 768px) {
  .footer__social-information {
    border-top: 1px solid rgba(165, 205, 171, 0.4);
    padding-top: 28px;
  }
}

@media screen and (max-width: 420px) {
  .footer__social-information {
    padding-top: 24px;
  }
}
