.card-rectangle__type {
  margin: 0;
  position: relative;
  padding: 12px 16px 0;
  font-style: italic;
  font-size: 16px;
  line-height: 21px;
}
@media screen and (max-width: 1024px) {
  .card-rectangle__type {
    font-size: 12px;
    line-height: 16px;
    padding: 12px 8px 0;
  }
}
