.news-card__article {
  margin: 20px 0 0;
  font-size: 20px;
  line-height: 26px;
}
@media screen and (max-width: 1200px) {
  .news-card__article {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }
}
@media screen and (max-width: 786px) {
  .news-card__article {
    margin: 8px 0;
  }
}
