.news__name {
  font-size: 46px;
  font-family: 'WF', 'Times New Roman', serif;
  margin: 0;
}
@media screen and (max-width: 1126px) {
  .news__name {
    font-size: 30px;
    line-height: 37px;
  }
}
