.title__text {
    margin: 0;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 60px;
    text-align: center;
}

@media screen AND (max-width: 768px) {
  .title__text {
    font-size: 30px;
    line-height: 39px;
  }
}

@media screen AND (max-width: 425px) {
  .title__text {
    line-height: 1.2;
  }
}
