.editor__portrait {
  background-image:  url(../../../images/portret.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: editor__portrait;
  width: 100%;
  height: 440px;
}

@media screen and (max-width: 860px) {
  .editor__portrait {
    height: 259px;
  }
}

@media screen and (max-width: 767px) {
  .editor__portrait {
    max-width: 164px;
    height: 258px;
  }
}
