@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/_white/header_white.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__dropdown-list/header__dropdown-list.css);
@import url(../blocks/header/__dropdown-menu/header__dropdown-menu.css);
@import url(../blocks/header/__menu-list/header__menu-list.css);
@import url(../blocks/header/__menu-list/_hover/header__menu-list_hover.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu-button/header__menu-button.css);
@import url(../blocks/header/__popup/header__popup.css);
@import url(../blocks/header/__popup/_opened/header__popup_opened.css);
@import url(../blocks/header/__popup-container/header__popup-container.css);
@import url(../blocks/header/__container_padding/header__container_padding.css);
@import url(../blocks/header/__popup-block/header__popup-block.css);
@import url(../blocks/header/__popup-menu/header__popup-menu.css);
@import url(../blocks/header/__popup-list/header__popup-list.css);
@import url(../blocks/content/content.css);
@import url(../blocks/part/part.css);


@import url(../blocks/footer/footer.css);
@import url(../blocks/bread-crumbs/bread-crumbs.css);
@import url(../blocks/bread-crumbs/__element/bread-crumbs__element.css);
@import url(../blocks/bread-crumbs/__title/bread-crumbs__title.css);
@import url(../blocks/title/title.css);
@import url(../blocks/title/__text/title__text.css);
@import url(../blocks/title/__text/_underlined/title__text_underlined.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__menu-link/footer__menu-link.css);
@import url(../blocks/footer/__social-information/footer__social-information.css);
@import url(../blocks/footer/__social/footer__social.css);
@import url(../blocks/footer/__social-conteiner/footer__social-conteiner.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__link/_covert-text/footer__link_covert-text.css);
@import url(../blocks/footer/__information/footer__information.css);
@import url(../blocks/video/video.css);

.image {
  margin: 0;
  object-fit: cover;
}
.image_hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 32px;
  align-items: center;
}
.content {
  background-color: #F7F4F0;
  opacity: 0.9;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 910px;
  height: 520px;
  position: relative;
}

.gallery__next-button {
  background-image: url(../images/next-arrow.svg);
  width: 18px;
  height: 9.64px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  position: absolute;
  right: 116px;
  bottom: 122.47px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: unset;
  cursor: pointer;
}

.gallery__previous-button {
  background-image: url(../images/previous-arrow.svg);
  width: 18px;
  height: 9.64px;
  padding: 0;
  border: none;
  box-sizing: border-box;
  position: absolute;
  right: 184px;
  bottom: 122.47px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: unset;
  cursor: pointer;
}

.gallery__caption {
  border-bottom: 1px solid rgba(12, 6, 38, 0.7);
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
  min-width: 678px;
  display: flex;
  justify-content: space-between;
}

.gallery__photo-counter {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
}
