.navigation__bar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #A5CDAB;
  transition: all 0.6s ease;
  }

.navigation__bar:hover {
  background-color: #3A543E;
    }
.navigation__bar:last-of-type {
  display: none;
  }

@media screen and (max-width: 600px) {
  .navigation__bar:last-of-type {
    display: block;
  }
}


