.bread-crumbs {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-left: 20px;
    padding-top: 44px;
    display: flex;
}

@media screen and (max-width: 768px) {
    .bread-crumbs {
        margin-left: 15px;
        font-size: 14px;
    }
  }
