.footer {
  margin: 0 auto;
  padding-top: 72px 0 94px;
  width: 95%;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 32px;
    width: calc(100% - 34px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 420px) {
  .footer {
    width: calc(100% - 24px);
    margin: 0 auto;
  }
}
