.header__menu-button {
  display: none;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: unset;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .header__menu-button {
    display: inline-block;
  }
}
.header__menu-button:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
