.header__menu-list {
  text-decoration: none;
  color: #323232;
  padding: 12px 10px;
  font-size: 20px;
  line-height: 26px;
  border-bottom: 1px solid transparent;
  transition: all 0.6s ease;
}

.header__menu-list:hover {
  border-bottom: 1px solid #323232;

}
@media screen and (max-width: 1024px) {
  .header__menu-list {
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (max-width: 767px) {
  .header__menu-list {
    display: none;
  }
}

