.news__cover {
  background-color: #323232;
  width: 477px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (max-width: 1126px) {
  .news__cover {
  }
}
