.card-circle__experience {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .card-circle__experience {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 600px) {
  .card-circle__experience {
    padding-bottom: 8px;
  }
}
