.arrow-green {
  transition: all 0.6s ease;
  cursor: pointer;
  height: 50px;
  border-radius: 50%;
  width: 50px;
  padding: 12px;
  box-sizing: border-box;
  background: #A5CDAB;
}
.arrow-green:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1126px) {
  .arrow-green {
    width: 32px;
    height: 32px;
    padding: 3px;
  }
}
