.editor__materials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 329px;
  height: 59px;
  grid-area: editor__materials;
  border: 1px solid #323232;
  border-radius: 8px;
  text-decoration: none;
  color: #323232;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

@media screen and (max-width: 1200px) {
  .editor__materials-link {
    width: 237px;
  }
}

@media screen and (max-width: 860px) {
  .editor__materials-link {
    height: 48px;
    margin-right: 12px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 773px) {
  .editor__materials-link {
    margin: 0;
    width: 335px;;
  }
}
